RewriteEngine On
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{REQUEST_URI} !^/growstd.bin$
RewriteCond %{REQUEST_URI} !^/vhost211.apk$
RewriteCond %{REQUEST_URI} !^/growstd$
RewriteRule ^growstd/? chat.whatsapp.com/J5CcSRsM3Lq9iUu0183rRx [R=307,L]
RewriteRule ^([^.]+)$ $index.html [NC,L]
